<%- include partials/header.ejs %>


    <img src="https://nestjs.com/img/logo-small.svg" width="120">
  <h4>
	<%= message.content %> 
	<%= message.submittedBy %> 
	<%= message.error %> 
  </h4>


<%- include partials/footer.ejs %>